%% -*- erlang -*-
{sub_dirs, ["rel", "src"]}.
{cover_enabled, true}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
        {lager, "2.0", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {riak_core, ".*", {git, "git://github.com/basho/riak_core", {tag, "develop"}}},
        {riak_api, ".*", {git, "git://github.com/basho/riak_api", {tag, "develop"}}},
        {riak_pb, ".*", {git, "git://github.com/marsleezm/riak_pb", {tag, "clocksi"}}}
       ]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
